@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main{
  display: flex;
}

.main_content{
  position: relative;
  background: #ebe9e9;
  width: 100%;
  padding: 1rem;
}

.header-wrapper img{
  height: 50px;
  width: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.header-wrapper{
  display: flex;
  justify-content: space-between ;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin-bottom: 1rem;
}

.header_tittle{
  color:rgb(255, 48, 48);
  position: relative;
}

/*Boton Switch Dark Mode From https://www.auladiv.com/como_se_hace/toggle-switch-1.html*/
.toggle{
  position: absolute;
  width: 0;
  height: 0;
  & + .switch{
      position: absolute;
      right: 50px;
      display: block;
      background: lightgray;
      width: 90px;
      height: 30px;
      cursor: pointer;
      border-radius: 30px;
      transition: 0.5s;
  }
  &:checked + .switch{
      background: rgb(180, 2, 2);
  }
  & + .switch:before{
      content:"";
      position: absolute;
      width: 28px;
      height: 28px;
      top: 50%;
      transform: translateY(-50%);
      background: #320c0c;
      border-radius: 50%;
      margin: 0px 2px;
      left: 0%;
      transition: 1s;
  }
  &:checked + .switch:before{
      left: 100%;
      transform: translate(calc(-100% - 2px), -50%);
  }
}

#span_mode{
  position: absolute;
  right: 148px;
  font-weight: bold;
}
/*
#label_switch{
}
*/
.user_info{
  display: flex;
  align-items: center;
  gap: 15px;
}

.box_search{
  background: rgb(237, 237, 237);
  border-radius: 15px;
  display: flex;
  color: rgb(248, 117, 117);
  align-items: center;
  padding: 4px 12px;
  gap: 5px;
}

.box_search input {
  background: transparent;
  padding: 10px;  
}

.box_search i {
  font-size: 1.2rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  padding-right: 2px;
}

.box_search i:hover {
  transform: scale(1.3);
  padding: 2px;
  padding-left: 3px;
}


.course_container{
  background: #fff;
  padding: 2rem;
  border-radius: 10px;
}

.course_wrapper{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.main_title{
  color: rgb(247, 98, 98);
  padding-bottom: 10px;
  font-size: 15px;
}

.course_sections{
  background: rgb(229, 223, 223);
  border-radius: 10px;
  padding: 1.2rem;
  width: 290px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all 0.5s ease-in-out;
}

.course_sections:hover{
  transform: translateY(-5px);
}

.course_header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.section{
  display: flex;
  flex-direction: column;
}

.title{
  font-size: 12px;
  font-weight: 200;  
}

.code_section{
  font-size: 24px;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600;
}

.icon{
  color: #fff;
  padding: 1rem;
  width: 60px;
  height: 60px;
  text-align: center;
  border-radius: 50%;
  font-size: 1.5rem;
  background: rgb(255, 36, 36);
}

.course_detail{
  font-size: 18px;
  color: #77777777;
  letter-spacing: 1px;
  font-family: 'Courier New', Courier, monospace;
}

/*Tabular Section*/
.tabular_wrapper{
  margin-top: 1rem;
  background: #fff;
  border-radius: 10px;
  padding: 2rem;
}

.table_container{
  width: 100%;
}

table{
  width: 100%;
  border-collapse: collapse;
}

thead{
  background: #8b1919;
  color: #fff;
}


th{
  padding: 15px;
  text-align: left;
}

tbody{
  background: #f2f2f2;
}

td{
  padding: 15px;
  font-size: 14px;
  color: #333;
}

tr:nth-child(even){
  background-color: #fff;
}

.number_cycle{
  background: rgb(255, 130, 130);
  color: #fff;
  font-weight: 500;
}


tfoot{
  background: #8b1919;
  font-weight: bold;
  color: #fff;
}

tfoot td{
  padding: 15px;
  color: #fff;
}

.table_container button{
  color: green;
  background: none;
  cursor: pointer;
}
/*Color CSS*/
.light-red{
  background: rgb(251, 233, 233);  
}
.light-purple{
  background: rgb(254, 226, 254);  
}
.light-green{
  background: rgb(235, 254, 235);  
}
.light-blue{
  background: rgb(236, 236, 254);  
}
.dark-red{
  background: red;  
}
.dark-purple{
  background: purple;  
}
.dark-green{
  background: green;  
}
.dark-blue{
  background: blue;  
}

/*Navs CSS*/
nav {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  gap: 0.5rem;
  border-bottom: solid 1px #aaa;
  background-color: #eee;
  z-index: 200;
}

nav a {
  display: inline-block;
  min-width: 9rem;
  padding: 0.5rem;
  border-radius: 0.2rem;
  border: solid 1px #aaa;
  text-align: center;
  text-decoration: none;
  color: #555;
}

nav a[aria-current='page'] {
  color: #000;
  background-color: #d4d4d4;
}

/*Animations*/

.user_info, .main_title{
  animation-name: slideinUser;
  animation-duration: 1.5s;
}

.table_container{
  animation-name: slideinTable;
  animation-duration: 1.5s;
}

.header_tittle span{
  animation: slideAndWrite 1s ease-in-out forwards;
  white-space: nowrap;

}

.header_tittle h1{
  animation: slidein 1s ease-in-out forwards;

}

@keyframes slidein {
  0% {
    transform: translateX(100%) scale(3);
    color: white; 
    opacity: 0; 
  }
  50%{
    color: #f86666;
  }
  75% {
    transform: translateX(25%) scale(1.5);
    opacity: 1; 
    color: #ff0000;
  }

  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes slideAndWrite {
  0% {
    transform: translateX(100%);
    opacity: 0;
    clip-path: inset(0 100% 0 0);
  }

  50% {
    transform: translateX(25%);  
    opacity: 1;  
    clip-path: inset(0 25% 0 0);  
    color: #ff8762;
  }

  100% {
    transform: translateX(0);
    opacity: 1;  
    clip-path: inset(0 0 0 0);
  }
}

@keyframes slideinUser {
  from {
    opacity: 0;
    margin-right: -37px;
  }
  
  to {
  }
}

@keyframes slideinTable {
  from {
    opacity: 0;
  }
  
  to {
  }
}

/*Styles to .sideBar responsive*/


@media screen and (max-width: 850px){
  .header-wrapper{
    margin-top: 50px;
  }
  
  .table_container{
    overflow-x: scroll;
    scrollbar-width: thin;
  }

  .table_container table{
    border-collapse: collapse; 
    
  }

.table_container table th, .table_container table td {
  border: 1px solid #ddd; /* Bordes de las celdas */
  padding: 8px;
  text-align: left;
}

}


