@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

*{
  margin: 0;
  padding: 0;
  outline: none;
  border: none;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

main{
  display: flex;
}


/*Editing Forms*/
main{
  position: relative;
  background: #ebe9e9;
  width: 100%;
}

.main_content{
  position: relative;
  background: #ebe9e9;
  width: 100%;
  padding: 1rem;
}

.header_titles{
  position: relative;
  display: flex;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin: 1rem;
  color:rgb(255, 48, 48);
}

.header_titles span{
  position: absolute;
  left: 3%;
  animation: slideAndWrite 1s ease-in-out forwards;
  white-space: nowrap;
}

.header_titles h1{
  font-size: 45px;
  margin: 10px auto auto 30%;
  animation: slidein 1s ease-in-out forwards;
}
.header_titles i{
  font-size: 50px;
  margin-left: 10px;
}

.header_titles img{
  position: absolute;
  right: 45px;
  height: 80px;
  top: 6%;

}

.container_student{
  display: flex;
  flex-direction: column;
  justify-content: space-between ;
  align-items: center;
  background: #fff;
  border-radius: 10px;
  padding: 10px 2rem;
  margin: 1rem;
  width: 100%;
}

label {
  display: block;
  margin-top: 10px;
}
.form-field input{
  background-color: #f0f0f0;
  margin-top: 20px;
  padding: 10px;
  border-radius: 10px;
  background: rgba(218, 168, 168, 0.507);
}

button {
  margin-top: 15px;
}


.container_photo_profile{
  justify-items: center;
}

.container_photo_profile img{
  margin: 30px 0px;
  border-radius: 50%;
  max-width: 580px;
  min-height: 480px;
}

#form_student{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  max-width: 800px;
  margin: auto;
  justify-items: center;
  padding: 40px 0px;
}

.submit-buttom{
  grid-column: span 2;
  text-align: center;
}

#span_cycle{
  position: absolute;
  right: 10%;
  font-weight: bold;
}

.submit-buttom button{
  width: 150px;
  height: 30px;
  border-radius: 10px;
}

/*Animations*/

@keyframes slidein {
  0% {
    transform: translateX(100%) scale(3);
    color: white; 
    opacity: 0; 
  }
  50%{
    color: #f86666;
  }
  75% {
    transform: translateX(25%) scale(1.5);
    opacity: 1; 
    color: #ff0000;
  }

  100% {
    transform: translateX(0) scale(1);
    opacity: 1;
  }
}

@keyframes slideAndWrite {
  0% {
    transform: translateX(100%);
    opacity: 0;
    clip-path: inset(0 100% 0 0);
  }

  50% {
    transform: translateX(25%);  
    opacity: 1;  
    clip-path: inset(0 25% 0 0);  
    color: #ff8762;
  }

  100% {
    transform: translateX(0);
    opacity: 1;  
    clip-path: inset(0 0 0 0);
  }
}

@keyframes slideinUser {
  from {
    opacity: 0;
    margin-right: -37px;
  }
  
  to {
  }
}

@keyframes slideinTable {
  from {
    opacity: 0;
  }
  
  to {
  }
}


/*Finish Editing Forms*/

  @media screen and (max-width: 850px){
    .header-wrapper{
      margin-top: 50px;
    }
  }
  
  